#languageSelector {
  width: 15%;
  height: 2.5rem;
  text-align: center;
  border-radius: 4px;
  font-size: large;
}
.confirmation-dialog {
  position: absolute;
  background-color: rgb(196, 212, 175);
  z-index: 100;
  padding: 1%;
  border-radius: 4px;
  border: solid gray 1px;
}

.dialog-button {
  margin: 5px;
}

.emptyListLink {
  color: #75b531 !important;
  text-decoration: none !important;
  font-weight: 500 !important;
}

.emptyListLink:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}
